@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  /* @apply bg-[black] font-["Luckiest Guy"] */
  background-color: rgb(199, 197, 197);
  font-family: cursive;
}
.box  {
  box-shadow: 3px 2px 5px 10px solid white !important;
}
/* 
body{
  background-color: hsl(61, 50%, 50%);
} */